# Cleaning CSV Files

In [1]:
import pandas as pd
import numpy as np

pd.options.display.max_rows = 50

**Read in Data**

In [2]:
df1 = pd.read_csv('data/glassdoor_ratings1_62.csv')#, index_col=0) #index_col=0 to remove numeric index
df2 = pd.read_csv('data/glassdoor_ratings2_37.csv')#, index_col=0)
df3 = pd.read_csv('data/glassdoor_ratings3_199.csv')#, index_col=0)
df4 = pd.read_csv('data/glassdoor_ratings5_797.csv')#, index_col=0)
df5 = pd.read_csv('data/glassdoor_ratings6_846.csv')#, index_col=0)

#Combine data frames
data = pd.concat([df1, df2, df3, df4, df5])

print('Length of data set: ',len(data))
print('Number of duplicates: ', data.duplicated().sum())

Length of data set:  1941
Number of duplicates:  583

In [3]:
#Reset index to see all rows
data.reset_index(inplace=True)

#Check out dataframe
print(data.shape)
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941 entries, 0 to 1940
Data columns (total 15 columns):
index             1941 non-null int64
NAME              1941 non-null object
SIZE              1941 non-null object
LOCATION_HQ       1941 non-null object
INDUSTRY          1941 non-null object
RATING_OVERALL    1797 non-null float64
RATING_DI         1793 non-null float64
RATING_CV         1797 non-null float64
RATING_WL         1797 non-null float64
RATING_SM         1797 non-null float64
RATING_CB         1797 non-null float64
RATING_CO         1797 non-null float64
NUM_REVIEWS       1941 non-null object
DESCRIPTION       1900 non-null object
MISSION           434 non-null object
dtypes: float64(7), int64(1), object(7)
memory usage: 227.6+ KB

In [5]:
#Drop duplicate companies by 'NAME' - drops size from 1941 to 1188
data.drop_duplicates(subset='NAME', keep='last', inplace=True)
data = data.drop(['index'], axis=1)

In [8]:
#reset index to begin at 0
data.reset_index(inplace=True)

In [10]:
#drop extra indices
data = data.drop(['index', 'level_0'], axis=1)

## Cleaned indices and duplicates gone

In [20]:
print('Shape: ', data.shape)
data.head()

Shape:  (1188, 14)

,NAME,SIZE,LOCATION_HQ,INDUSTRY,RATING_OVERALL,RATING_DI,RATING_CV,RATING_WL,RATING_SM,RATING_CB,RATING_CO,NUM_REVIEWS,DESCRIPTION,MISSION
0,McKinsey & Company,10000+ Employees,"New York, NY",Consulting,4.5,4.4,4.4,3.0,4.1,4.4,4.5,"See All 5,198 Reviews",We work with leaders across sectors to tackle ...,Mission: Our mission is two-fold: to help our ...
1,Cornell University,10000+ Employees,"Ithaca, NY",Colleges & Universities,4.5,4.3,4.4,4.0,4.1,4.1,4.2,"See All 1,765 Reviews","Cornell is a private, Ivy League university re...",NaN
2,UC Santa Barbara,5001 to 10000 Employees,"Santa Barbara, CA",Colleges & Universities,4.5,4.2,4.3,4.4,4.1,3.7,4.0,"See All 1,049 Reviews","Dude, let's hit the beach! And then we'll hit ...",NaN
3,UC Irvine,10000+ Employees,"Irvine, CA",Colleges & Universities,4.4,4.5,4.3,4.0,4.0,3.8,4.0,"See All 1,398 Reviews","Sun, the beach, Nobel Prize winners, and a Sou...",NaN
4,Iowa State University,5001 to 10000 Employees,"Ames, IA",Colleges & Universities,4.4,4.2,4.2,4.2,4.0,3.8,3.9,"See All 1,203 Reviews",Attending Iowa State University of Science and...,NaN

In [149]:
# #Drop duplicate rows
# data.drop_duplicates(inplace=True)

# #Sanity Check
# print('Length of data set: ',len(data))
# print('Number of duplicates: ', data.duplicated().sum())

Length of data set:  1224
Number of duplicates:  0

In [21]:
#Drop null values from RATING_DI
print('NaN values dropped from RATING_DI: ', data.RATING_DI.isna().sum())
data.dropna(subset=['RATING_DI'], inplace=True)

#Drop null values from DESCRIPTION
print('NaN values dropped from DESCRIPTION: ', data.DESCRIPTION.isna().sum())
data.dropna(subset=['DESCRIPTION'], inplace=True)

NaN values dropped from RATING_DI:  61
NaN values dropped from DESCRIPTION:  27

In [32]:
data.head()

,NAME,SIZE,LOCATION_HQ,INDUSTRY,RATING_OVERALL,RATING_DI,RATING_CV,RATING_WL,RATING_SM,RATING_CB,RATING_CO,NUM_REVIEWS,DESCRIPTION,MISSION
0,McKinsey & Company,10000+ Employees,"New York, NY",Consulting,4.5,4.4,4.4,3.0,4.1,4.4,4.5,"See All 5,198 Reviews",We work with leaders across sectors to tackle ...,Mission: Our mission is two-fold: to help our ...
1,Cornell University,10000+ Employees,"Ithaca, NY",Colleges & Universities,4.5,4.3,4.4,4.0,4.1,4.1,4.2,"See All 1,765 Reviews","Cornell is a private, Ivy League university re...",NaN
2,UC Santa Barbara,5001 to 10000 Employees,"Santa Barbara, CA",Colleges & Universities,4.5,4.2,4.3,4.4,4.1,3.7,4.0,"See All 1,049 Reviews","Dude, let's hit the beach! And then we'll hit ...",NaN
3,UC Irvine,10000+ Employees,"Irvine, CA",Colleges & Universities,4.4,4.5,4.3,4.0,4.0,3.8,4.0,"See All 1,398 Reviews","Sun, the beach, Nobel Prize winners, and a Sou...",NaN
4,Iowa State University,5001 to 10000 Employees,"Ames, IA",Colleges & Universities,4.4,4.2,4.2,4.2,4.0,3.8,3.9,"See All 1,203 Reviews",Attending Iowa State University of Science and...,NaN

## Clean up NUM_REVIEWS
- pull out numbers only

In [45]:
s = 'See All 1,203 Reviews'

In [46]:
#remove comma
import string

exclude = set(string.punctuation)
s = ''.join(ch for ch in s if ch not in exclude)

In [41]:
test_string.split()

['See', 'All', '1,203', 'Reviews']

In [42]:
test_string.isdigit()

False

In [37]:
res = [int(i) for i in test_string.split() if i.isdigit()]
str(res)

'[]'

In [38]:
import re

In [39]:
temp = re.findall(r'\d+', test_string) 
res = list(map(int, temp))

In [40]:
res

[1, 203]

## Checking out Rating stats

In [28]:
# Checking out rating stats
data.describe()

,RATING_OVERALL,RATING_DI,RATING_CV,RATING_WL,RATING_SM,RATING_CB,RATING_CO
count,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000
mean,4.006182,4.055182,3.927545,3.782273,3.585000,3.754091,3.694091
std,0.348868,0.419194,0.424023,0.431309,0.432298,0.443384,0.402395
min,2.400000,1.000000,1.900000,1.700000,1.900000,2.300000,2.300000
25%,3.900000,3.800000,3.700000,3.500000,3.300000,3.500000,3.475000
50%,4.100000,4.100000,4.000000,3.800000,3.600000,3.800000,3.700000
75%,4.200000,4.300000,4.200000,4.100000,3.900000,4.100000,4.000000
max,4.900000,5.000000,5.000000,4.900000,4.900000,4.900000,4.800000

In [10]:
data.RATING_DI.mean()

4.069769291964996