TopicModeling notebook

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_clean = pd.read_csv('data/data_clean.csv')

In [46]:
data = pd.read_csv('data/dtm.csv')

In [47]:
data.head()
#pickle loads much faster, but file is too big! csv file is 63 mb today 2/13

,aaa,aaeeoverify,aaha,aamc,aan,aaron,aau,ab,aba,abb,...,également,électrique,énoncées,équipes,étroite,évolue,évoluer,évolution,être,überproud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
data_clean.head()

                                   CLEAN_DESCRIPTION
0  we work with leaders across sectors to tackle ...
1  cornell is  private ivy league university reco...
2  dude let hit the beach and then well hit the b...
3  sun the beach nobel prize winners and  souther...
4  attending iowa state university of science and...

In [6]:
from gensim import matutils, models
import scipy.sparse

In [49]:
tdm = data.transpose() #dtm is 'data' from video
tdm.head()

,0,1,2,3,4,5,6,7,8,9,...,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923
aaa,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aaeeoverify,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aaha,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aamc,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [9]:
import pickle

In [51]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("data/cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [11]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.007*"customers" + 0.006*"solutions" + 0.006*"business" + 0.005*"work" + 0.005*"products" + 0.005*"global" + 0.004*"technology" + 0.004*"clients" + 0.004*"employees" + 0.004*"every"'),
 (1,
  '0.008*"university" + 0.005*"one" + 0.005*"medical" + 0.004*"students" + 0.004*"center" + 0.004*"also" + 0.004*"hospital" + 0.004*"research" + 0.004*"programs" + 0.004*"system"')]

In [ ]:
# LDA for num_topics = 10
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=10, passes=10)
lda.print_topics()

In [12]:
# from nltk import word_tokenize, pos_tag

In [13]:
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/candaur/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [53]:
data_clean.head()

                                   CLEAN_DESCRIPTION
0  we work with leaders across sectors to tackle ...
1  cornell is  private ivy league university reco...
2  dude let hit the beach and then well hit the b...
3  sun the beach nobel prize winners and  souther...
4  attending iowa state university of science and...

In [14]:
# # Let's create a function to pull out nouns from a string of text
# def nouns(text):
#     '''Given a string of text, tokenize the text and pull out only the nouns.'''
#     is_noun = lambda pos: pos[:2] == 'NN'
#     tokenized = word_tokenize(text)
#     all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
#     return ' '.join(all_nouns)

In [15]:
# # Apply the nouns function to the transcripts to filter only on nouns
# data_nouns = data_clean.CLEAN_DESCRIPTION.apply(nouns)
# data_nouns

In [54]:
from nltk.corpus import stopwords
import string

sw_list = stopwords.words('english')
sw_list += list(string.punctuation) #appending to stopwords
sw_list += ["''", '""', '...', '``', '’', '“', '’', '”', '‘', '‘',
            '-', '–', '—', '--', "'s", 'e.g', "'ll",
            'company', 'services', 'world', 'people', 'care', 'health', 'us',
           ]

In [55]:
# Create a new document-term matrix using only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# # Re-add the additional stop words since we are recreating the document-term matrix
# add_stop_words = ['like', 'im', 'know', 'just', 'dont', 'thats', 'right', 'people',
#                   'youre', 'got', 'gonna', 'time', 'think', 'yeah', 'said']
# stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=sw_list)
data_cv = cv.fit_transform(data_clean.CLEAN_DESCRIPTION)
data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_dtm.index = data_clean.index
data_dtm

,aaa,aaeeoverify,aaha,aamc,aan,aaron,aau,ab,aba,abb,...,également,électrique,énoncées,équipes,étroite,évolue,évoluer,évolution,être,überproud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1920,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1921,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1923,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [56]:
# Create the gensim corpus
corpus = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtm.transpose()))

# Create the vocabulary dictionary
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [ ]:
# # CHOOSE final LDA model (for now)
# ldan = models.LdaModel(corpus=corpusn, num_topics=10, id2word=id2wordn, passes=80)
# ldan.print_topics()

In [57]:
###change this to passes=80
# CHOOSE final LDA model (for now)
lda = models.LdaModel(corpus=corpus, num_topics=10, id2word=id2word, passes=10)
lda.print_topics()

[(0,
  '0.004*"business" + 0.003*"new" + 0.003*"global" + 0.003*"work" + 0.003*"including" + 0.003*"status" + 0.003*"products" + 0.003*"de" + 0.003*"financial" + 0.002*"states"'),
 (1,
  '0.006*"customers" + 0.006*"business" + 0.005*"one" + 0.005*"states" + 0.005*"service" + 0.005*"every" + 0.005*"united" + 0.004*"make" + 0.004*"operates" + 0.004*"largest"'),
 (2,
  '0.010*"solutions" + 0.009*"customers" + 0.008*"work" + 0.007*"employees" + 0.007*"technology" + 0.007*"global" + 0.006*"clients" + 0.006*"business" + 0.005*"team" + 0.005*"across"'),
 (3,
  '0.012*"financial" + 0.007*"products" + 0.006*"investment" + 0.006*"clients" + 0.006*"management" + 0.006*"insurance" + 0.005*"global" + 0.005*"leading" + 0.005*"companies" + 0.004*"life"'),
 (4,
  '0.017*"hospital" + 0.016*"medical" + 0.014*"center" + 0.009*"university" + 0.009*"system" + 0.008*"hospitals" + 0.008*"research" + 0.007*"healthcare" + 0.006*"patients" + 0.006*"children"'),
 (5,
  '0.006*"one" + 0.005*"energy" + 0.004*"home" + 0.004*"every" + 0.004*"largest" + 0.004*"city" + 0.004*"de" + 0.004*"global" + 0.004*"service" + 0.003*"best"'),
 (6,
  '0.009*"insurance" + 0.005*"home" + 0.005*"life" + 0.005*"one" + 0.005*"communities" + 0.004*"financial" + 0.004*"customers" + 0.004*"business" + 0.004*"group" + 0.004*"products"'),
 (7,
  '0.006*"new" + 0.005*"also" + 0.005*"blue" + 0.004*"largest" + 0.004*"including" + 0.004*"stores" + 0.004*"power" + 0.004*"one" + 0.004*"york" + 0.004*"locations"'),
 (8,
  '0.006*"business" + 0.006*"work" + 0.005*"products" + 0.005*"solutions" + 0.004*"employees" + 0.004*"global" + 0.004*"every" + 0.004*"service" + 0.003*"brands" + 0.003*"one"'),
 (9,
  '0.025*"university" + 0.015*"students" + 0.010*"programs" + 0.009*"school" + 0.008*"education" + 0.007*"state" + 0.007*"graduate" + 0.007*"research" + 0.007*"offers" + 0.006*"college"')]

In [21]:
# Read in the cleaned data, before the CountVectorizer step
data_clean.head()

                                   CLEAN_DESCRIPTION
0  we work with leaders across sectors to tackle ...
1  cornell is  private ivy league university reco...
2  dude let hit the beach and then well hit the b...
3  sun the beach nobel prize winners and  souther...
4  attending iowa state university of science and...

In [58]:
data_dtm

,aaa,aaeeoverify,aaha,aamc,aan,aaron,aau,ab,aba,abb,...,également,électrique,énoncées,équipes,étroite,évolue,évoluer,évolution,être,überproud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1920,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1921,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1923,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
# Let's take a look at which topics each transcript contains
corpus_transformed = lda[corpus]
list(zip([a for [(a,b)] in corpus_transformed], data_dtm.index))

ValueError: too many values to unpack (expected 1)

In [ ]:
## Assign to a new column

In [ ]:
# arr = np.zeros((1000,2))

In [ ]:

# with open('test.pkl','wb') as f:
#     pickle.dump(arr, f)

In [ ]:
# with open('test.pkl','rb') as f:
#     x = pickle.load(f)
#     print(x.shape)

In [ ]:
# ## Saving the array
# numpy.save